<div class="body">
    <div class="container">
        <h1 class="text-center">Weather App</h1>
        <div class="row">
            <div class="col-12 mt-3 text-center">
                <form [formGroup]="weatherSearchForm" (ngSubmit)="sendApi(weatherSearchForm)">
                    <div class="form-group">
                        <input type="text" class="form-control input" formControlName="location" name="search"
                            placeholder="Search Here" />
                        <button class="btn btn-primary mt-3">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-12 text-center mt-3 mb-3">

                <div class="card m-auto" *ngIf="weatherData">
                    <h2 class="card-title">{{weatherData.location.name}} , {{weatherData.location.country}}</h2>
                    <div class="imgData">
                        <img src={{weatherData.current.weather_icons[0]}} class="img" alt="..." />
                        <h3 class="temp">{{weatherData.current.temperature}} &#8451;</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="font-size: 25px;">{{weatherData.current.weather_descriptions[0]}}</li>
                        <li class="list-group-item">Time : {{weatherData.location.localtime}}</li>
                        <li class="list-group-item">Wind Speed : {{weatherData.current.wind_speed}} km/h</li>
                        <li class="list-group-item">Wind Degree : {{weatherData.current.wind_degree}} &deg;
                            {{weatherData.current.wind_dir}}</li>
                        <li class="list-group-item">Pressure : {{weatherData.current.pressure}} bar</li>
                        <li class="list-group-item">Feels like : {{weatherData.current.feelslike}} &#8451;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>